.pretty-json-container {
    cursor: default;
    font-family: "Courier New", Courier, monospace;
    white-space: pre;
}
.pretty-json-container .value-string {
    color: #0000FF;
}
.pretty-json-container .value-string a {
    color: #0060E0;
    text-decoration: none;
}
.pretty-json-container .value-string a:hover {
    text-decoration: underline;
}
.pretty-json-container .value-number {
    color: #000080;
}
.pretty-json-container .value-boolean {
    color: #308014;
}
.pretty-json-container .value-null {
    color: #787878;
}
.pretty-json-container .object-delimiter, .pretty-json-container .enclosure-active {
    font-weight: bold;
}
.pretty-json-container .array-enclosure {
    color: #C00080;
}
.pretty-json-container .object-enclosure {
    color: #800000;
}
.pretty-json-container .json-value {
    cursor: pointer;
}
.pretty-json-container .object-body.folded {
    font-size: 0.000000000000000000001px;
    line-height: 0;
    display: inline-block;
}
.pretty-json-container .object-body.folded::before {
    content: '...';
    font-size: 11px;
    color: #000000;
    padding: 1px;
    background: #E1E1E1;
    border-radius: 4px;
    border: #C1C1C1 1px solid;
}
.pretty-json-container .object-body.folded .fold-control {
    display: none;
}
.pretty-json-container .fold-control {
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    height: 11px;
    width: 11px;
    background-size: cover;
    margin-right: 5px;
}
.pretty-json-container .fold-control.folded {
    background-image: url('/icon-unfold.png');
}
.pretty-json-container .fold-control.unfolded {
    background-image: url('/icon-fold.png');
}
