@media (prefers-color-scheme: light) {
    .pretty-json-container .value-string {
        color: #0000FF;
    }
    .pretty-json-container .value-string a {
        color: #0060E0;
    }
    .pretty-json-container .value-number {
        color: #000080;
    }
    .pretty-json-container .value-boolean {
        color: #308014;
    }
    .pretty-json-container .value-null {
        color: #787878;
    }
    .pretty-json-container .array-enclosure {
        color: #C00080;
    }
    .pretty-json-container .object-enclosure {
        color: #800000;
    }
    .pretty-json-container .vector-body.folded::before {
        color: #000000;
        background: #E1E1E1;
        border-color: #C1C1C1;
    }
    .pretty-json-container .line-number {
        border-right-color: #9e9e9e;
    }
    .pretty-json-container .fold-control.folded + .line-number {
        border-bottom-color: #9e9e9e;
    }
}

@media (prefers-color-scheme: dark) {
    .pretty-json-container .value-string {
        color: #0000FF;
    }
    .pretty-json-container .value-string a {
        color: #0060E0;
    }
    .pretty-json-container .value-number {
        color: #000080;
    }
    .pretty-json-container .value-boolean {
        color: #308014;
    }
    .pretty-json-container .value-null {
        color: #787878;
    }
    .pretty-json-container .array-enclosure {
        color: #C00080;
    }
    .pretty-json-container .object-enclosure {
        color: #800000;
    }
    .pretty-json-container .vector-body.folded::before {
        color: #000000;
        background: #E1E1E1;
        border-color: #C1C1C1;
    }
    .pretty-json-container .line-number {
        border-right-color: #9e9e9e;
    }
    .pretty-json-container .fold-control.folded + .line-number {
        border-bottom-color: #9e9e9e;
    }
}

.pretty-json-container {
    cursor: default;
    font-family: "Courier New", Courier, monospace;
    white-space: pre;
    text-align: left;
}
.pretty-json-container .value-string a {
    text-decoration: none;
}
.pretty-json-container .value-string a:hover {
    text-decoration: underline;
}
.pretty-json-container .delimiter, .pretty-json-container .enclosure-active {
    font-weight: bold;
}
.pretty-json-container .json-value {
    cursor: pointer;
}
.pretty-json-container .vector-body.folded {
    font-size: 0.000000000000000000001px;
    line-height: 0;
    display: inline-block;
}
.pretty-json-container .vector-body.folded::before {
    content: '...';
    font-size: 11px;
    padding: 1px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}
.pretty-json-container .vector-body.folded .vector-body.folded::before {
    display: none;
}
.pretty-json-container .vector-body.folded .fold-control {
    display: none;
}
.pretty-json-container .fold-control {
    cursor: pointer;
    display: inline-block;
    height: 11px;
    width: 11px;
    background-size: cover;
    margin-right: 5px;
    margin-left: 5px;
}
.pretty-json-container .fold-control.folded {
    background-image: url('/icon-unfold.png');
}
.pretty-json-container .fold-control.unfolded {
    background-image: url('/icon-fold.png');
}
.pretty-json-container .line-number {
    display: inline-block;
    width: 30px;
    text-align: right;
    padding-right: 5px;
    margin-right: 3px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    border-right-width: 1px;
    border-right-style: solid;
}
.pretty-json-container .vector-body.folded .line-number {
    display: none;
}
.pretty-json-container .fold-control.folded + .line-number {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
